$bg-color: #202124;
$text-color: #e8eaed;
$btn-wrapper-brdr: #3c4043;
$start-btn-inactive: #8ab4f8;
$start-btn-active: #1b66c9;
$reset-btn-inactive: #bdc1c6;
$reset-btn-active: #f6f9fe;
$reset-btn-brdr: #212327;