.value-input-field {
  font-size: 2em;
  position: relative;
}

.value-input-field input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  width: 9ch;
  text-align: center;
  border: 0;
  padding: 0;
  opacity: 0;
  z-index: 1;
}

@keyframes caret-blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.value-input-field input:focus + h1::after {
  animation: caret-blink 0.75s infinite alternate;
}

.value-input-field h1 {
  position: relative;
}

.value-input-field h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0.35em;
  bottom: 0;
  width: 2px;
  background-color: currentColor;
  opacity: 0;
  z-index: -1;
}

.value-input-field h1 span.suffix {
  font-size: 0.375em;
  padding: 0 12px 0 3px;
  font-weight: lighter;
}
